<!DOCTYPE html>
<html lang="eS">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Análisis de frecuencia de palabras en programas presidenciales de las elecciones chile 2021" />
        <meta name="author" content="Miguel Guevara - DatosLab.cl" />
        <title>Elecciones Presidenciales CHILE 2021 - Palabras en Programas de Gobierno</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.ico')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

        <script src="//cdn.wordart.com/wordart.min.js" async defer></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Presidenciales2021</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link active" href="#!">{{candidato.nick}}</a></li>
                        {% for c in candidato.otros %}
                        <li class="nav-item"><a class="nav-link" href="../{{c}}">{{c}}</a></li>
                        {% endfor %}
                        <li class="nav-item"><a class="nav-link" href="../about">AcercaDe</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">


                    
                    <div class="col-lg-7">
                        <!-- <h1 class="mt-5">The Big Picture</h1> -->
                        
                    <p> <br />
                    <iframe title="Programa presidencial {{candidato.nombre}} 2021" aria-label="table" id="datawrapper-chart-Q9RVs" src="{{candidato.dw}}" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="779"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();</script>
                    </p>
                    </div>

                    <div class="col-lg-5 ">
                        <!-- <h1 class="mt-5">The Big Picture</h1> -->
                        <p>
                            <h4>
                                <a class="btn btn-dark" href="{{candidato.tflink}}" target="blank">Términos más frecuentes (Tf)</a>
                            </h4>
                            <div style="width: 300px; height: 250px;" data-wordart-src="//cdn.wordart.com/json/{{candidato.tf}}"></div>
                        </p>
                        
                        <p>
                            <h4>
                                <a class="btn btn-dark" href="{{candidato.tfidflink}}" target="blank">Términos más frecuentes en su programa y menos frecuentes en otros programas (Tf/Idf)</a>
                            </h4>
                            <div style="width: 450px; height: 400px;" data-wordart-src="//cdn.wordart.com/json/{{candidato.tfidf}}"></div>
                        </p>
                                        
                    </div>

                    
                    
                </div>
                
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
